.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# From ExampleMod
/src
/setup/logs
**/bin/
**/obj/
**/packages/
.vs
*.user
*.suo
*.cache
*.force
**/packages/
**/.vs/
**/.idea/
/14*
/artifacts
**/msbuild.binlog
/steam_build